@font-face {
    font-family: 'Cheque';
    src: local("../font/Cheque-Regular.otf"), url("../font/Cheque-Regular.otf");
    font-weight: normal;
    font-style: normal;
}

body {
    padding-top: 35x;
    font-size: 20px;
    font-family: 'Jura', sans-serif;
    background-color: black;
    color: white;

}

i {
    font-size: 30px;
    color: #14f4f4;
}
.navbar1 i{
    font-size: 20px;
    color: #dbe2e2;
}


h1 {
    color: rgba(23, 66, 209, 0.96);
    font-weight: bold;
}

h1 small {
    font-weight: 100;
    font-size: 23px;
    font-style: italic;
}

.inicio{
    padding-top: 65px;
    /*Distância da parte superior */
    padding-bottom: 1%;
    /*Distância da parte inferior */
    min-height: 100vh;
}

.dan .jumbotron{
   
    margin-top: 25%;
    margin-bottom: 3%;
    border-radius: 18px;
    background-color: rgba(1, 5, 27, 0.76);
    justify-content: left;
    padding-top: 40px;
    padding-bottom: 14px;    

}

.jumbotron {
    border-radius: 18px;
    background-color: rgba(3, 22, 65, 0.89);
    justify-content: left;
    padding-top: 20px;
    padding-bottom: 14px;
    

} 

.div-colorida h1 {
    color: rgba(22, 51, 129, 0.918);
    font-weight: bolder;
}

.div-colorida2 h1 {
    color: rgba(136, 198, 209, 0.877);
    font-weight: bold;
}

.rounded {
    max-width: 100%;
    min-height: 230px;
    border-radius: 20px;

}
.div-colorida-dark {
    background:rgba(1, 45, 144, 0.71);
    background-position: center;
    background-clip: content-box;

    border-top-style: groove;
    border-top-color: aqua;
    color: black;


}

.div-colorida2 {
    background: url(../img/6.jpg);
    background-position:100%;
    background-clip:content-box;
    border-bottom-style: solid;
    background-size:100%;
    border-bottom-color: rgb(59, 7, 70);
    color: rgb(231, 227, 236);

  
}

.div-colorida {
    font-weight: bold;
    background: rgba(198, 220, 221, 0.925);
    background-position: center;
    background-attachment: fixed;
    border-top-style: groove;
    border-top-color:dodgerblue;
    color: black;

}


section {

    /* Configurações para tag section */
    padding-top: 65px;
    /*Distância da parte superior */
    padding-bottom: 1%;
    /*Distância da parte inferior */
    min-height: 80vh;
    /*Altura mínima */

}

.oracle {
    margin-top: 12px;
    border-top-width:medium!important;
    border-top-style:solid!important;
    color:white;
    border-top-color:rgba(47, 71, 71, 0.897);
    padding-top: 20px;
    padding-bottom: 15px;

}
.oracle h4{
    color:rgba(175, 34, 34, 0.973);
    font-weight: bolder;

}


.d-block {
    height: 90vh;
    border-radius: 15px;
}

.slider {
    background: url(../img/fundo-slider.jpg);
    background-attachment: fixed;
    border-radius:18px;
    padding-bottom: 15px;
    padding-top: 56px;

}

.div-fundo {
    color: darkblue;

}

.bg-dark {
    background-color: blue;
}

.btn {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*  FOOTER*/
footer {
    border-top-width:thin!important;
    border-top-style:solid!important;
    border-top-color:aqua;
    padding-top: 9px;
    /*Distância da parte inferior */
    padding-bottom: 20px;
    font-size: white;
    background: black;
    border: blue;
}

footer .row {
    justify-content: flex-start !important;
}

footer ul {
    border-radius: 12px;
    border-style: hidden;
    border-color: aqua;

}

footer ul li {
    list-style-type: none;
    margin-top: -7px;
    font-size: 18px;
}

footer .fonte {

    margin-top: 25px;
    font-size: 12px;
}

footer ul li small:nth-child(5) {
    font-size: 28px;
    font-family: 'Yellowtail', cursive;

}

footer ul li a {
    color: rgba(120, 224, 224, 0.79);
    font-size: 15px;

}

/*  FIM FOOTER*/


/* --- NAVBAR--- -- */
/*Alterando o navbar */
.navbar1 {
    background-color: rgba(1, 5, 27, 0.856);
    font-style: normal;
    overflow: inherit;
    padding-bottom: black;
    z-index: 9;
    position: fixed;
    width: 100%;
    height: 49px;
    top: 0px;
    text-align: center !important;
    transition: .5s;
}

.navbar1 ul li a {
    list-style-type: none;
    display: inline-block;
    padding: 10px 52px;
    color: rgb(207, 217, 223);
    font-size: 23px;
    font-stretch:normal;
    cursor: pointer;
    border-radius: 5px;
    z-index: 9;
    transition: .5s;

}

.navbar1 ul li a:hover {
    /* background: rgba(73, 92, 93, 0.99);*/
    background: rgba(10, 57, 100, 0.92);

}

.navbar1 .icon {
    display: none;
}

.brand a {
    color: rgb(238, 247, 247) !important;
    font-weight: lighter !important;
    font-family: 'Yellowtail', cursive;
    font-size: 30px !important;
    padding: 4px !important;

}

.brand li a {
    font-size: 25px !important;
    font-family: 'Jura', sans-serif;

}

/* DROPMENU */

ul.drop-menu li {
    display: none;

}

ul.drop-menu li:last-of-type {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;


}

ul.drop-menu li:last-child {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;


}

li:hover > ul.drop-menu li {
    display: block;

}

/* FIM */

/* MENU 1 */
li:hover > ul.drop-menu.menu-1 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

li:hover > ul.drop-menu.menu-1 li {
    opacity: 0;
    background: black;
}

li:hover > ul.drop-menu.menu-1 li:nth-child(1) {

    -webkit-animation-name: menu1;
    animation-name: menu1;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;


    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

li:hover > ul.drop-menu.menu-1 li:nth-child(2) {

    -webkit-animation-name: menu1;
    animation-name: menu1;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 100ms;
    animation-delay: 100ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-1 li:nth-child(3) {


    -webkit-animation-name: menu1;
    animation-name: menu1;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 190ms;
    animation-delay: 190ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@keyframes menu1 {
    0% {
        opacity: 0;
        transform: rotateY(-90deg) translate(30px);
    }

    100% {
        opacity: 1;
        transform: rotateY(0deg) translate(0px);
    }
}


/* FINAL DO MENU 1 */



/* MENU 2 */
li:hover > ul.drop-menu.menu-2 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

li:hover > ul.drop-menu.menu-2 li {
    opacity: 0;
    background: black;
}

li:hover > ul.drop-menu.menu-2 li:nth-child(1) {

    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 0ms;
    animation-delay: 0ms;


    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

li:hover > ul.drop-menu.menu-2 li:nth-child(2) {

    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 200ms;
    animation-delay: 200ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

li:hover > ul.drop-menu.menu-2 li:nth-child(3) {


    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 400ms;
    animation-delay: 400ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

li:hover > ul.drop-menu.menu-2 li:nth-child(4) {


    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 500ms;
    animation-delay: 500ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

li:hover > ul.drop-menu.menu-2 li:nth-child(5) {


    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 650ms;
    animation-delay: 650ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

li:hover > ul.drop-menu.menu-2 li:nth-child(6) {


    -webkit-animation-name: menu2;
    animation-name: menu2;

    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;

    -webkit-animation-delay: 750ms;
    animation-delay: 750ms;

    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;


    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

}

@keyframes menu2 {
    0% {
        opacity: 0;
        transform: rotate(-30deg) translateY(30px);
    }

    100% {
        transform: rotate(0deg) translateY(0px);
        opacity: 1;
    }
}

/* FINAL DO MENU 2 */


/* Configurações SLIDER */
.slider a {
    background-color: rgba(0, 2, 5, 0.76);
}

a:link {
    text-decoration: none;
}

/* FIM Configurações SLIDER */



/*TELA RESPONSIVA  */

/* Thumbnails ou Cards */
.card {
    margin-top: 20px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.row {
    padding-top: 30px;
    justify-content: center;
}

.grayscale {
    /*Classe responsável por deixar a imagem cinza*/
    -webkit-filter: grayscale(60%);
    transition: 3s;
}

.grayscale:hover {
    /*classe  responsavel por colorir a imagem que está cinza */
    transform: scale(1.2);
    -webkit-filter: grayscale(0%);
    transition: 1.0s;
    border-style: groove;
    border-color: cyan;
}