@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Istok+Web&family=Orbitron:wght@400;900&display=swap');

.name-perfil{
    font-family: 'Orbitron', sans-serif;
}

.font_default{
    font-family: 'Istok Web', sans-serif;
    font-size: 20px;
}

body{
    background: rgb(29,28,28);
    color: rgb(255, 255, 255);
    background-image: url(../img/IMG-BACKGROUND1.jpg);
    background-size: 100%;

    /* background-image: linear-gradient(to right top, #030a12, #1e242a, #353d43, #4e585e, #68747a); */
}
.centralizar {
    align-content: center;
    align-items: center;
    text-align: center;
}


.nav-tabs {
    border-bottom: 1px solid #063c7200;
}

.nav-link{
    color: black !important;
}

.nav-link:focus, .nav-link:hover {
    font-size: 20px;
    background: rgba(167, 161, 161, 0.377);
    color: #000000 !important;
}


section {

    /* Configurações para tag section */
    padding-top: 1%;
    /*Distância da parte superior */
    padding-bottom: 1%;
    /*Distância da parte inferior */
    min-height: 100vh;
    /*Altura mínima */
}

.box{
    /* From https://css.glass */
    margin-top: 2%;
    padding-top: 35px;
    padding-bottom: 2%;
    z-index: 1;
    min-height: 40vh;
    background: rgba(2, 2, 14, 0.19);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.8px);
    -webkit-backdrop-filter: blur(5.8px);
    border: 1px solid rgba(2, 2, 14, 0.34);
}



